################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CopyFilesUtility/obj
/CopyFilesUtility/bin
